---
---
// Sass colors! Please use wisely

$light-grey: #bdbdbd
$background: #fafafa
$primary:    #0091cd

// Sass, for realz!

.container-fluid
  max-width: 900px
  padding: 0px 15px
  margin-left: auto
  margin-right: auto

body
  background-color: $background

h1
  border-bottom: 1px solid $light-grey

a 
  color: $primary

  &.text-link
    &:hover,
    &:focus
      background-color: $primary
      border-radius: 2px
      color: #fff
      margin-left:  -3px
      margin-right: -3px
      padding-left:  3px
      padding-right: 3px
      text-decoration: none
      @extend .transition


hr
  border-color: $light-grey

.transition
  transition: color 300ms, background-color 300ms, border-color 300ms

/* Header */
nav 
  h1, h2, h3
    a
      @extend .transition
      &:hover
        color: $background
        background-color: $primary
        border-radius: 2px
        margin-left:  -3px
        margin-right: -3px
        padding-left:  3px
        padding-right: 3px
        text-decoration: none

/* Footer */

a .fa-stack
  margin-right: 10px

  .fa-stack-2x
    color: $light-grey
    @extend .transition

  .fa-stack-1x
    color: $background

{% for link in site.data.footer-links %}
a#{{link.name}}:hover,
a#{{link.name}}:focus
  span.fa-stack .fa-stack-2x
    color: {{link.color}}
{% endfor %}
