<div class="container-fluid">
    <p>
        I grew up in the small town of Hansen, Idaho and graduated High School top of my class in 2014. For my senior project, I got an internship in web development at KickBack Rewards Systems, where I learned all about programming on the web.
    </p>

    <p>
        That fall I went on to study Mechanical Engineering at University of Idaho. While I was there, I found my love for programming and added Computer Science and Mathematics to my studies. In the spring of 2017, I switched from Web Development to functional testing in Python with an internship at Schweitzer Engineering Laboratories.
    </p>

    <p>
        I plan on graduating in the spring of 2020 and would like to spend my career applying software to Mechanical Design. I am fascinated with Numerical computation, and how it can make problems that are difficult to solve analytically easy to solve.
    </p>

    <!-- <p> -->
    <!--     In my free time I mainly enjoy playing video games and playing the bass guitar. -->
    <!-- </p> -->

</div>
