footer.container-fluid
  hr
  | {% for link in site.data.footer-links %}
  a ( href="{{link.url}}" id="{{link.name}}")
    | {% if link.stack %}
    span (class="fa-stack fa-lg")
      i (class="fa fa-circle fa-stack-2x")
      i (class="fa {{link.icon}} fa-stack-1x")
    | {% else %}
    span.fa-stack.fa-lg
      i.fa.fa-stack-2x (class="{{link.icon}}")
    | {% endif %}
  | {% endfor %}
