<div class="container-fluid">
  <footer>
    {% for link in site.data.footer-links %}
    {% if link.footer %}
      <a href="{{link.url}}" id="{{link.name}}">
        {% if link.stack %}
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa {{link.icon}} fa-stack-1x"></i>
        </span>
        {% else %}
        <span class="fa-stack fa-lg">
          <i class="fa {{link.icon}} fa-stack-2x"></i>
        </span>
        {% endif %}
      </a>
    {% endif %}
    {% endfor %}

    <span class="footer-note">
    Site last updated {{ site.time | date: '%D, %H:%M:%S' }}
    </span>
  </footer>
</div>
