<header>
  <nav>
    <div class="textfill container-fluid">
      <span>
        Alex McNurlin:
        <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          {{ page.nav }}
          <span class="caret"></span>
        </button>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for page in site.data.nav_links %}
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
