<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Alex McNurlin</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/krs.html">KRS</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="pull-left" href="https://www.facebook.com/alex.mcnurlin">
                   <i class="fa fa-facebook fa-lg icon-white"></i>
                </a>
                <a class="pull-left" href="https://twitter.com/ninjabassist777">
                    <i class="fa fa-twitter fa-lg icon-white"></i>
                </a>
                <a class="pull-left" href="http://9gag.com/u/mrjoe5796/likes">
                    <img height="20px" class="pull-right" src="http://upload.wikimedia.org/wikipedia/commons/9/97/9GAG_new_logo.svg">
                </a>
            </li>
        </ul>
    </div>
</nav>

